# Eclipse
.settings/
.project
.metadata
.classpath

# Java
*target*
*.class
*.jar
*.war
*.nar
*.ear

# Archive
*.zip
*.tar.gz
*.rar

# Logs
*.log

# Specific
magellan-settings\.json
