@font-face {
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    src: url('/fonts/Open_Sans/OpenSans-Regular.ttf');
}

.root {
    -fx-font-family: 'Roboto';
}

.close-icon {
	-fx-background-radius: 30.0;
	-fx-pref-width: 30.0px;
	-fx-pref-height: 30.0px;
	-fx-background-color: red;
}

.actionWindowScroll {
	-fx-background: #333333;
}

.actionWindow {
	-fx-background-color: #333333;
	-fx-padding: 20;
	-fx-vgap: 20;
	-fx-hgap: 20;
}

.actionTile {
	-fx-background-radius: 5;	
    -fx-background-color: #1a1a1a;
    -fx-padding: 20;
}

.actionTileText {
    -fx-fill: white;	
}